{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% from 'macros.html' import displayBlogs as db%}
<!-- Styles block -->


<!-- Content block -->
{%block content%}
<div class="container-fluid text-center">
    <h1 style="font-size: 100px;">Blog</h1>

</div>
<button type="button" class="btn btn-outline-primary btn-rounded waves-effect"><a href="{{url_for('main.new_blog')}}">Write A Blog</a></button>
<button type="button" class="btn btn-outline-primary btn-rounded waves-effect">Primary</button>
<div>
    <div>
        <br>
        <br>
        <div class="card">
            <h4 class="card-header">{{ quote.author }}</h4>
            <p class="card-body">{{ quote.quote }}</p>
        </div>
        <br>
        <br>
        <div class="card">
            <h4 class="card-header">{{ quote1.author }}</h4>
            <p class="card-body">{{ quote1.quote }}</p>
        </div>
        <br>
        <br>
        <div class="card">
            <h4 class="card-header">{{ quote2.author }}</h4>
            <p class="card-body">{{ quote2.quote }}</p>
        </div>
        <br>
        <br>
    </div>
</div>
</div>
<div class="jumbotron">
    <div class="row">
        {{db(blogs)}}
    </div>
</div>

{%endblock%}